<!--Scheduler List-->
<div class="panel panel-primary">

  <div class="panel-heading">

    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <label class="header-label"> {{data.name}} </label>  
          
    <div class="pull-right">
      <button ng-click="save()" ng-if="vm.show" class="glyphicon-button glyphicon glyphicon-floppy-disk hvr-pulse-grow"></button>
      <button ng-click="edit()" ng-if="!vm.show" class="glyphicon-button glyphicon glyphicon-pencil hvr-pulse-grow">  |</button> 
      <button ng-click="todo.remove(todo.todoLists, data.id)" ng-if="!vm.show" class="glyphicon-button glyphicon glyphicon-trash hvr-pulse-grow"></button>
    </div>

  </div>

  <div class="custom-input">

    <button class="btn btn-success green-plus" type="submit" ng-click="addTodoIntoList(data.id, vm.name)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    <form name="userForm" ng-submit="submitForm()" novalidate>
      <div class="input-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
        <input type="text" class="form-control" name="name" ng-model="vm.name" required placeholder="Start typing here to create a task..."/>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">This field is required.</p>

        <div class="input-group-btn">
          <button type="button" class="btn btn-success hvr-grow-shadow" ng-click="addTodoIntoList(data.id, vm.name)" >Add Task</button>
        </div>

      </div>
    </form>

    <todo-item data="item" list="data" ng-repeat="item in data.todos"></todo-item>
  </div>
</div>
